<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>商品検索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <form method="post" name="form1" >
    <br>
    <br>
    <input type="submit"name="goto_menu_from_search"value="戻る"/>
      <br>
      <input type="submit"name="add"value="新規追加"/>
      <br>
      <table>
        <tr><td>商品ID : <input type="text" class="form-control" id="Product_ID" name="ProductID" th:value="${ProductID}"/></td></tr>
        <tr><td>商品名 : <input type="text" class="form-control" id="Product_Name" name="ProductName" th:value="${ProductName}"/></td></tr>
        <tr>
          <td>価格帯 : <input type="text" class="form-control" id="Price_From" name="PriceFrom" th:value="${PriceFrom}"/>
          ～ <input type="text" class="form-control" id="Price_To" name="PriceTo" th:value="${PriceTo}"/></td>
        </tr>
        <tr>
        <td><input type="submit"name="search"value="検索"/></td>
        </tr>
      </table>
    </form>
	<br><br>
    <div th:if="${resultSize > 0}"><label th:text="${resultSize}"></label>件</div>
    <table border="1" th:if="${resultSize > 0}">
      <tr>
        <td>商品ID</td>
        <td>商品名</td>
        <td>価格</td>
      </tr>
      <tr th:each="data : ${result}">
       <td th:text="${data.ProductID}"/>
        <td th:text="${data.ProductName}"/>
        <td th:text="${data.Price}"/>
        <td>
        <form method="post" name="form_result" >
        <input type="hidden" name="ProductID" th:value="${data.ProductID}">
        <input type="hidden" class="form-control" id="Product_ID" name="target_ProductID" th:value="${ProductID}"/>
        <input type="hidden" class="form-control" id="Product_Name" name="target_ProductName" th:value="${ProductName}"/>
        <input type="hidden" class="form-control" id="Price_From" name="target_PriceFrom" th:value="${PriceFrom}"/>
        <input type="hidden" class="form-control" id="Price_To" name="target_PriceTo" th:value="${PriceTo}"/>
        
        <input type="submit" name="update" value="編集" />
        </form>
        </td>
      </tr>
    </table>
  </body>
</html>